#activites {
    .activites-cards {
        .card {
            height: 350px;
        } 

    }
}

#students {
    background-color: #f5f5f5;
    #students-carousel {
        .carousel-indicators {
            bottom: -30px;
            li {
                background-color: black;
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
        .carousel-inner {
            .card {
                border-radius: 10px;
                img {
                    border-radius: 10px 10px 0 0;
                }
            }
        }
        .carousel-control-prev,.carousel-control-next {
            color: black;
            width: 5%;
            border: 0;
            background-color: transparent;
        }
    }
}