@media (max-width: 768px) {

    #navbar {
        .navbar-nav {
            text-align: center;
        }
    }

    #activites-carousel {
        .overlay {
            font-size: 2rem !important;
            text-align: center;
        }
        .carousel-control-prev,.carousel-control-next {
            display: none;
        }
    }

    #students {
        #students-carousel {
            .carousel-control-prev,.carousel-control-next {
                display: none;
            }
        }
    }
    
    #best-students {
        .card {
            .student-badge {
                width: 70px;
                left: -15px;
            }
        }
    }
}

