.student-info {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
        .row {
            img {
                border-radius: 5em;
                border: 3px solid #f5f5f5;
            }
        }

    }
}

.student-grades {
    .grades-table {
        .table {
            text-align: center;
            background-color: white;
            th {
                width: 50%;
            }
        }
    }
}

.success-tips {
    .tips {
        .media {
            height: 200px;
        }
    }

}

// Edit color below for each page
// id format = #student-"section"-"student number"

// Student 1

#student-info-1 {
    background-color: $student1-info;
}

#student-grades-1 {
    background-color: $student1-grades;
}

// Student 2

#student-info-2 {
    background-color: $student2-info; 
}

#student-grades-2 {
    background-color: $student2-grades;
}